* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Montserrat", sans-serif;
  font-family: "Roboto", sans-serif;
  background-color: #fefbf7;
}
:root {
  --primaryColor: #a38062;
  --secondaryColor: #333;
  --defaultWhite: white;
}
/* share style */
.shareNav ul {
  display: flex;
  align-items: center;
}
.shareNav ul li {
  list-style: none;
}
.shareNav ul li a {
  text-decoration: none;
  color: var(--defaultWhite);
  font-size: 16px;
  margin-right: 30px;
  transition: 0.5s;
}
.shareNav ul li a:hover {
  color: var(--secondaryColor);
}
.shareBtn {
  background-color: transparent;
  padding: 10px 30px;
  border-radius: 30px;
  border: 1px solid var(--defaultWhite);
  font-size: 16px;
  transition: 0.5s;
  cursor: pointer;
  color: var(--defaultWhite);
}
.shareBtn:hover {
  background-color: var(--primaryColor);
  border: 1px solid var(--primaryColor);
  padding: 10px 30px;
  border-radius: 30px;
}
.exploreBtn {
  border: 1px solid var(--primaryColor);
  color: var(--primaryColor);
  padding: 10px 50px;
}
.exploreBtn:hover {
  color: var(--defaultWhite);
  padding: 10px 50px;
  background-color: var(--primaryColor);
}
.title {
  color: var(--primaryColor);
  font-family: Montserrat;
  font-size: 55px;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
}
.center_title {
  text-align: center;
}
.description {
  color: var(--secondaryColor);
  font-family: Roboto;
  font-size: 18px;
  font-weight: 300;
  line-height: 25px; /* 150% */
  text-transform: capitalize;
  padding: 20px 0px;
}
.padding_section {
  padding: 0px 180px;
}
/* header style */
/* navbar and banner container */
.navbar_and_banner_container {
  background-image: url(../img/home-interior-with-armchair-decor-white-color-living-room-3d-rendering1.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 70vh;
}
/* navbar container */
.navbar_container {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 20px 90px 30px 90px;
  background-image: linear-gradient(
    180deg,
    #55514e 0%,
    rgba(217, 217, 217, 0) 100%
  );
}
/* navbar left contend */
.navbar_left_contend {
  width: 50%;
  display: flex;
  align-items: center;
  gap: 80px;
}
.logo {
  text-decoration: none;
  color: var(--defaultWhite);
  letter-spacing: 3px;
  font-size: 20px;
}
/* navbar right contend */
.navbar_right_contend {
  width: 50%;
  display: flex;
  justify-content: right;
}
.navbar_right_contend i {
  font-size: 16px;
  margin-left: 4px;
}
/* banner container style */
.banner_container {
  padding: 0px 180px;
  margin-top: 120px;
}
/* modern container style */
.modern_container {
  padding: 20px 90px;
  display: flex;
  justify-content: space-between;
}
.modern_box {
  background-color: #d5cfbf;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding-top: 20px;
  padding-left: 20px;
  width: 32%;
  border-radius: 3px;
}
.modern_box2 {
  background-color: #c4aea3;
}
.modern_box2 img {
  position: relative;
  top: -26px;
}
.modern_box3 {
  background-color: #d2dde3;
}
.modern_box3 img {
  position: relative;
  top: 8px;
}
.modern_title {
  font-size: 14px;
  font-weight: 300;
  text-transform: capitalize;
  margin-bottom: 10px;
  letter-spacing: 1px;
}
.modern_name {
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 600;
  text-transform: capitalize;
  letter-spacing: 1px;
}
/* new age furniture style */
.new_age_furniture_section {
  display: flex;
  margin-top: 100px;
}
.new_age_left_contend {
  width: 40%;
  display: flex;
  align-items: center;
}
.new_age_right_contend {
  width: 60%;
  height: 600px;
}
.new_age_img1 {
  position: relative;
  top: 30%;
  left: -10%;
}
.new_age_img2 {
  position: relative;
  left: -25%;
  top: 0%;
}
.new_age_img3 {
  position: relative;
  top: -127%;
  right: -40%;
}
.new_age_img4 {
  position: relative;
  top: -150%;
  right: 7%;
  transform: rotate(-15deg);
}
.new_age_img5 {
  position: relative;
  top: -180%;
  right: -45%;
}
/* product link section style */
.product_link_section {
  text-align: center;
  margin-top: 100px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.product_link_section p {
  color: var(--secondaryColor);
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
  margin-top: 5px;
  letter-spacing: 1px;
}
.product_box {
  cursor: pointer;
  transition: 0.5s;
}
.product_box:hover {
  transform: scale(1.1);
}
.divide {
  width: 100%;
  height: 1px;
  background-color: #a380622f;
  margin: 20px 0px;
}
/* latest arrivals style */
.latest_arrivals_section {
  margin-top: 60px;
}
/* latest container */
.latest_product_container {
  margin-top: 50px;
  display: flex;
  justify-content: space-evenly;
  gap: 150px;
  margin-bottom: 50px;
}
/* latest_left_content */
.latest_left_content {
  width: 40%;
  display: flex;
  justify-content: right;
}
.latest_left_box {
  width: 400px;
  height: 350px;
  background-color: #f2e6da;
  position: relative;
  top: 75%;
  border-radius: 3px;
}
.latest_left_box img {
  position: relative;
  left: 11.5%;
  top: -75%;
}
.latest_left_price {
  display: flex;
  justify-content: space-between;
  position: relative;
  top: -47%;
}
.latest_name {
  color: var(--primaryColor);
  font-size: 17px;
  font-weight: 500;
}
.latest_price {
  color: var(--secondaryColor);
  font-size: 20px;
  font-weight: 500;
}
/* latest_right_content */
.latest_right_content {
  width: 40%;
  display: flex;
  justify-content: left;
}
.latest_right_box {
  width: 400px;
  height: 350px;
  background-color: #f2e6da;
  position: relative;
  border-radius: 3px;
  top: 95%;
}
.latest_right_box img {
  position: relative;
  right: 11%;
  top: -75%;
}
.latest_right_price {
  display: flex;
  justify-content: space-between;
  position: relative;
  top: -58%;
}
